In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.dataframe import DataFrame
from pyspark.sql.functions import col, when, isnan, isnull, count, avg, trim
import pandas as pd
import os

In [2]:
DATA_FOLDER = "data"
# source https://www.statista.com/statistics/242030/marital-status-of-the-us-population-by-sex/
# the first value is male and the second is for female
MARITAL_STATUS_BY_GENDER = [
    ["Never-married", 47.35, 41.81],
    ["Married-AF-spouse", 67.54, 68.33],
    ["Widowed", 3.58, 11.61],
    ["Divorced", 10.82, 15.09]
]
MARITAL_STATUS_BY_GENDER_COLUMNS = ["marital_status_statistics", "male", "female"]

In [3]:




def read_data(spark: SparkSession) -> DataFrame:
    """
    read data based on the given schema; this is much faster than spark determining the schema
    """
    
    # Define the schema for the dataset
    schema = StructType([
        StructField("age", IntegerType(), True),
        StructField("workclass", StringType(), True),
        StructField("fnlwgt", FloatType(), True),
        StructField("education", StringType(), True),
        StructField("education_num", FloatType(), True),
        StructField("marital_status", StringType(), True),
        StructField("occupation", StringType(), True),
        StructField("relationship", StringType(), True),
        StructField("race", StringType(), True),
        StructField("sex", StringType(), True),
        StructField("capital_gain", FloatType(), True),
        StructField("capital_loss", FloatType(), True),
        StructField("hours_per_week", FloatType(), True),
        StructField("native_country", StringType(), True),
        StructField("income", StringType(), True)
    ])

    # Read the dataset
    data = spark.read \
        .schema(schema) \
        .option("header", "false") \
        .option("inferSchema", "false") \
        .csv(os.path.join(DATA_FOLDER,"*.csv")) 

    data = data.repartition(8)

    float_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, FloatType)]
    for v in float_columns:
        data = data.withColumn(v, data[v].cast(IntegerType()))

    # Get the names of all StringType columns
    string_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, StringType)]

    # Remove leading and trailing spaces in all string columns
    for column in string_columns:
        data = data.withColumn(column, trim(data[column]))

    # Show the first 5 rows of the dataset
    data.show(5)

    return data

In [4]:

def missing_values(data: DataFrame) -> DataFrame:
    """
    count the number of samples with missing values for each row
    remove such samples
    """

    missing_values = data.select([count(when(isnan(c) | isnull(c), c)).alias(c) for c in data.columns])

    # Show the missing values count per column
    missing_values.show()

    # Get the number of samples in the DataFrame
    num_samples = data.count()

    # Print the number of samples
    print("Number of samples:", num_samples)  

    data = data.dropna()      
    
    return data

In [5]:
def feature_engineering(data: DataFrame) -> DataFrame:
    """
    calculate the product of each pair of integer features
    """

    # Create columns consisting of all products of columns of type IntegerType
    integer_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, IntegerType)]
    for i, col1 in enumerate(integer_columns):
        for col2 in integer_columns[i:]:
            product_col_name = f"{col1}_x_{col2}"
            data = data.withColumn(product_col_name, col(col1) * col(col2))

    data.show(5)

    return data

def bias_marital_status(data: DataFrame):
    """
    is there bias in capital gain by marital status
    """

    # Calculate the average capital_gain by marital_status
    average_capital_gain = data.groupBy("marital_status").agg(avg("capital_gain").alias("average_capital_gain"))

    # Show the average capital_gain by marital_status
    average_capital_gain.show()

    # Filter data based on marital_status = Divorced
    divorced_data = data.filter(data.marital_status == "Divorced")

    # Show the first 5 rows of the filtered DataFrame
    divorced_data.show(5)

def join_with_US_gender(spark: SparkSession, data: DataFrame):
    """
    join with respect to the marital_status
    """

    # create a data frame from new data
    columns = ["dept_name","dept_id"]
    us_df = spark.createDataFrame(MARITAL_STATUS_BY_GENDER, MARITAL_STATUS_BY_GENDER_COLUMNS)

    return data.join(us_df, data.marital_status == us_df.marital_status_statistics, 'outer')

def main():
    # Create a Spark session
    spark = SparkSession.builder \
        .appName("Read Adult Dataset") \
        .getOrCreate()

    data = read_data(spark)
    # perform basic EDA - count missing values
    data = missing_values(data)
    data = feature_engineering(data)
    bias_marital_status(data)
    data = join_with_US_gender(spark, data)

    
    
    data.show(5)
    data.write.format('csv').option('header', 'true').mode('overwrite').save('saved.csv')
    #spark.stop()
    #return data

In [6]:
def bias_marital_status(data: DataFrame):
    """
    is there bias in capital gain by marital status
    """

    # Calculate the average capital_gain by marital_status
    average_capital_gain = data.groupBy("marital_status").agg(avg("capital_gain").alias("average_capital_gain"))

    # Show the average capital_gain by marital_status
    average_capital_gain.show()

    # Filter data based on marital_status = Divorced
    divorced_data = data.filter(data.marital_status == "Divorced")

    # Show the first 5 rows of the filtered DataFrame
    divorced_data.show(5)

In [7]:
def join_with_US_gender(spark: SparkSession, data: DataFrame):
    """
    join with respect to the marital_status
    """

    # create a data frame from new data
    columns = ["dept_name","dept_id"]
    us_df = spark.createDataFrame(MARITAL_STATUS_BY_GENDER, MARITAL_STATUS_BY_GENDER_COLUMNS)

    return data.join(us_df, data.marital_status == us_df.marital_status_statistics, 'outer')

In [8]:
def age(data: DataFrame):
    selected_df = data.filter((data['age'] >= 30) & (data['age'] <= 50))

    # Convert the selected PySpark DataFrame to a Pandas DataFrame
    pandas_df = selected_df.toPandas()

    # Print out summary statistics using .describe()
    print(pandas_df.describe())
    return pandas_df

In [9]:
spark = SparkSession.builder \
        .appName("Read Adult Dataset") \
        .getOrCreate()

data = read_data(spark)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/15 00:53:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [10]:
data = read_data(spark)

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [11]:
data = missing_values(data)

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  1|        0|     1|        0|            1|             0|         0|           0|   0|  0|           1|           1|             1|             0|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

Number of samples: 65123

In [12]:
data = feature_engineering(data)

24/05/15 00:54:09 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|     5184|     3753936|               1152|                 0|            172224|                1800|    -1576596252|                834208|                    0|            124714096|                1303450|                          256|                           0|                       38272|                           400|                          0|                          0|                            0|                    5721664|                        59800|                            625|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|     2025|     6326145|                450|                 0|                 0|                1800|    -1711818919|               1405810|                    0|                    0|                5623240|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|     3025|     4651020|                825|                 0|                 0|                2145|    -1438864496|               1268460|                    0|                    0|                3297996|                          225|                           0|                           0|                           585|                          0|                          0|                            0|                          0|                            0|                           1521|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     1369|    13202488|                333|                 0|                 0|                1480|    -1525651904|               3211416|                    0|                    0|               14272960|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|     3136|     9853984|                560|                 0|                 0|                2240|      898558224|               1759640|                    0|                    0|                7038560|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

In [13]:
bias_marital_status(data)

+--------------------+--------------------+
|      marital_status|average_capital_gain|
+--------------------+--------------------+
|           Separated|   535.5687804878049|
|       Never-married|  376.58831788823363|
|Married-spouse-ab...|   653.9832535885167|
|            Divorced|   728.4148098131893|
|             Widowed|   571.0715005035247|
|   Married-AF-spouse|   432.6521739130435|
|  Married-civ-spouse|  1764.8595085470085|
+--------------------+--------------------+

+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|marital_status|      occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 36|         Private| 31438|     HS-grad|            9|      Divorced|Transport-moving|    Unmarried|White|  Male|           0|           0|            43|             ?| <=50K|     1296|     1131768|                324|                 0|                 0|                1548|      988347844|                282942|                    0|                    0|                1351834|                           81|                           0|                           0|                           387|                          0|                          0|                            0|                          0|                            0|                           1849|
| 45|         Private|220641|Some-college|           10|      Divorced| Exec-managerial|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     2025|     9928845|                450|                 0|                 0|                1800|     1437810625|               2206410|                    0|                    0|                8825640|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 57|     Federal-gov| 66504| Prof-school|           15|      Divorced|  Prof-specialty|Not-in-family|White|Female|           0|           0|            50| United-States|  >50K|     3249|     3790728|                855|                 0|                 0|                2850|      127814720|                997560|                    0|                    0|                3325200|                          225|                           0|                           0|                           750|                          0|                          0|                            0|                          0|                            0|                           2500|
| 49|Self-emp-not-inc|107597|     HS-grad|            9|      Divorced| Exec-managerial|    Unmarried|White|Female|       14084|           0|            30| United-States|  >50K|     2401|     5272253|                441|            690116|                 0|                1470|    -1307787479|                968373|           1515396148|                    0|                3227910|                           81|                      126756|                           0|                           270|                  198359056|                          0|                       422520|                          0|                            0|                            900|
| 30|         Private|399088|Some-college|           10|      Divorced|    Adm-clerical|Not-in-family|White|Female|           0|           0|            45| United-States| <=50K|      900|    11972640|                300|                 0|                 0|                1350|      357441792|               3990880|                    0|                    0|               17958960|                          100|                           0|                           0|                           450|                          0|                          0|                            0|                          0|                            0|                           2025|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

In [14]:
data = join_with_US_gender(spark, data)

In [15]:
def main():
    # Create a Spark session
    spark = SparkSession.builder \
        .appName("Read Adult Dataset") \
        .getOrCreate() 

    data = read_data(spark)
    # perform basic EDA - count missing values
    data = missing_values(data)
    data = feature_engineering(data)
    bias_marital_status(data)
    data = join_with_US_gender(spark, data)
    data = age(data)

    
    
    spark.stop()

In [ ]:
main()

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  1|        0|     1|        0|            1|             0|         0|           0|   0|  0|           1|           1|             1|             0|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

Number of samples: 65123

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|     5184|     3753936|               1152|                 0|            172224|                1800|    -1576596252|                834208|                    0|            124714096|                1303450|                          256|                           0|                       38272|                           400|                          0|                          0|                            0|                    5721664|                        59800|                            625|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|     2025|     6326145|                450|                 0|                 0|                1800|    -1711818919|               1405810|                    0|                    0|                5623240|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|     3025|     4651020|                825|                 0|                 0|                2145|    -1438864496|               1268460|                    0|                    0|                3297996|                          225|                           0|                           0|                           585|                          0|                          0|                            0|                          0|                            0|                           1521|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     1369|    13202488|                333|                 0|                 0|                1480|    -1525651904|               3211416|                    0|                    0|               14272960|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|     3136|     9853984|                560|                 0|                 0|                2240|      898558224|               1759640|                    0|                    0|                7038560|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+--------------------+--------------------+
|      marital_status|average_capital_gain|
+--------------------+--------------------+
|           Separated|   535.5687804878049|
|       Never-married|  376.58831788823363|
|Married-spouse-ab...|   653.9832535885167|
|            Divorced|   728.4148098131893|
|             Widowed|   571.0715005035247|
|   Married-AF-spouse|   432.6521739130435|
|  Married-civ-spouse|  1764.8595085470085|
+--------------------+--------------------+

+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|marital_status|      occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 36|         Private| 31438|     HS-grad|            9|      Divorced|Transport-moving|    Unmarried|White|  Male|           0|           0|            43|             ?| <=50K|     1296|     1131768|                324|                 0|                 0|                1548|      988347844|                282942|                    0|                    0|                1351834|                           81|                           0|                           0|                           387|                          0|                          0|                            0|                          0|                            0|                           1849|
| 45|         Private|220641|Some-college|           10|      Divorced| Exec-managerial|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     2025|     9928845|                450|                 0|                 0|                1800|     1437810625|               2206410|                    0|                    0|                8825640|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 57|     Federal-gov| 66504| Prof-school|           15|      Divorced|  Prof-specialty|Not-in-family|White|Female|           0|           0|            50| United-States|  >50K|     3249|     3790728|                855|                 0|                 0|                2850|      127814720|                997560|                    0|                    0|                3325200|                          225|                           0|                           0|                           750|                          0|                          0|                            0|                          0|                            0|                           2500|
| 49|Self-emp-not-inc|107597|     HS-grad|            9|      Divorced| Exec-managerial|    Unmarried|White|Female|       14084|           0|            30| United-States|  >50K|     2401|     5272253|                441|            690116|                 0|                1470|    -1307787479|                968373|           1515396148|                    0|                3227910|                           81|                      126756|                           0|                           270|                  198359056|                          0|                       422520|                          0|                            0|                            900|
| 30|         Private|399088|Some-college|           10|      Divorced|    Adm-clerical|Not-in-family|White|Female|           0|           0|            45| United-States| <=50K|      900|    11972640|                300|                 0|                 0|                1350|      357441792|               3990880|                    0|                    0|               17958960|                          100|                           0|                           0|                           450|                          0|                          0|                            0|                          0|                            0|                           2025|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows